@model AdvisoryGeneralInfo

 <form asp-controller="Advisory" asp-action="Create" method="post">
<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.OwnersLastName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.OwnersLastName) } })
        @Html.ValidationMessageFor(model => model.OwnersLastName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.OwnersFirstName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.OwnersFirstName) } })
        @Html.ValidationMessageFor(model => model.OwnersFirstName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.OwnersTelephoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.OwnersTelephoneNumber) } })
        @Html.ValidationMessageFor(model => model.OwnersTelephoneNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.ReasonForVisit, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.ReasonForVisit) } })
        @Html.ValidationMessageFor(model => model.ReasonForVisit, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.PGHCode, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.PGHCode) } })
        @Html.ValidationMessageFor(model => model.PGHCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.CitationNumber, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.CitationNumber) } })
        @Html.ValidationMessageFor(model => model.CitationNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Comments) } })
        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.AccessToken)
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.AdvisoryID)
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.AddressID)
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        @Html.HiddenFor(model => model.Address)
    </div>
</div>

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default" />
</div>
</form>