@model AllIncidents
<tr>
    <td>
    <a href="@Model.Link" style="font-size: 16px;" class="overlaytrigger">Open report</a>
    </td>
    <td>
    <div id="id">@Model.id</div>
    </td>
    <td>
    <div id="date">@Model.Date</div>
    </td>
    <td>
    <div id="addressrelay">@Model.Address</div>
    </td>
    <td>
    <div id="reason">@Model.ReasonForVisit</div>
    </td>
    
</tr>
   
   
   
