@model AllIncidents
<tr>
    <td>
    <a href="@Model.Link" target="_blank" style="font-size: 16px;">Report</a>
    </td>
    <td>
    <div id="id">@Model.id</div>
    </td>
    <td>
    <div id="date">@Model.Date</div>
    </td>
    <td>
    <div id="addressrelay">@Model.Address</div>
    </td>
    <td>
    <div id="reason">@Model.ReasonForVisit</div>
    </td>
    <td>
    <div id="note">@Model.Note</div>
    </td>
    
</tr>
   
   
   
