@model GetIncident
<div id="id" hidden>@Model.IncidentID</div>
<br>
<h4 class="incidentheader" id="address">@Model.Address</h4>
<table class="table" id="incidenttable">
  <tbody>
    <tr>
      <th style="width: 30%; border:none;" scope="row">Incident Date</th>
      <td style="border:none;">@Model.Date</td>
    </tr>
    <tr>
      <th scope="row">Owners Name</th>
      <td>@Model.OwnersFirstName @Model.OwnersLastName</td>
    </tr>
    <tr>
      <th scope="row">Telephone Number</th>
      <td>@Model.OwnersTelephoneNumber</td>
    </tr>
    <tr>
      <th scope="row">Call Origin</th>
      <td>@Model.CallOrigin</td>
    </tr>
    <tr>
      <th scope="row">Reason(s) For Visit</th>
      <td>@Model.ReasonForVisit</td>
    </tr>
    <tr>
      <th scope="row">PGH Code(s)</th>
      <td>@Model.PGHCode</td>
    </tr>
    <tr>
      <th scope="row">Citation Number</th>
      <td>@Model.CitationNumber</td>
    </tr>
    <tr>
      <th scope="row">Comments</th>
      <td>@Model.Comments</td>
    </tr>
    <tr>
      <th scope="row">Submitted by</th>
      <td>@Model.SubmittedBy</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-link" onclick="edit()" id="edit">> Edit incident</a>