@model GetIncident
<div id="id" hidden>@Model.IncidentID</div>
<br>
<h4 class="incidentheader" style="color: #973b3b">@ViewBag.Open</h4>
<h4 class="incidentheader" id="address">@Model.Address</h4>
<a class="btn btn-link" id="incidentbutton">> Edit incident</a>
<input class="btn btn-link overlaytrigger" type="submit" title="Add another animal to this incident" value="> Add animal" id="animaladd"></input>
<table class="table" id="incidenttable" style="border-left: 0px !important; border-right: 0px !important; padding: 10px !important;">
  <tbody>
    <tr>
      <th style="width: 30%; border:none;" scope="row">Date</th>
      <td style="border:none;">@Model.Date</td>
    </tr>
    <tr>
      <th scope="row">Owners name</th>
      <td>@Model.OwnersFirstName @Model.OwnersLastName</td>
    </tr>
    <tr>
      <th scope="row">Telephone number</th>
      <td>@Model.OwnersTelephoneNumber</td>
    </tr>
    <tr>
      <th scope="row">Call origin</th>
      <td>@Model.CallOrigin</td>
    </tr>
    <tr>
      <th scope="row">Reason(s) For visit</th>
      <td>@Model.ReasonForVisit</td>
    </tr>
    <tr>
      <th scope="row">PGH code(s)</th>
      <td>@Model.PGHCode</td>
    </tr>
    <tr>
      <th scope="row">Citation number</th>
      <td>@Model.CitationNumber</td>
    </tr>
    <tr>
      <th scope="row">Officers involved</th>
      <td>@Model.Officers</td>
    </tr>
    <tr>
      <th scope="row">Submitted by</th>
      <td>@Model.SubmittedBy</td>
    </tr>
    <tr>
      <th scope="row">Last modified by</th>
      <td>@Model.ModifiedBy</td>
    </tr>
  </tbody>
</table>

<!-- hidden form fields for new animal put -->
<input asp-for="IncidentID" value="@Model.IncidentID" hidden></input>
<input asp-for="Address" value="@Model.Address" hidden></input>
<input asp-for="Coords" value="@Model.Coords" hidden></input>
<input asp-for="OwnersFirstName" value="@Model.OwnersFirstName" hidden></input>
<input asp-for="OwnersLastName" value="@Model.OwnersLastName" hidden></input>
<input asp-for="ReasonForVisit" value="@Model.ReasonForVisit" hidden></input>
<textarea asp-for="Comments" value="@Model.Comments" hidden></textarea>