@{
    ViewData["Title"] = "Incident";
}
<link rel="stylesheet" href="~/css/datatables.css">
<link rel="stylesheet" href="~/css/datepicker.css" />

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div>
            <form id="form" asp-controller="UpdateIncident" asp-action="AddAnother" method="post">
            @Html.Partial("~/Views/Incidents/Get/_Report.cshtml")
            </form>
        </div>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
        <br>
        <div id="map" style="height: 400px; width: 100%; margin-top:15px;"></div>
        <div id="infowindow-content">
            <span id="place-address"></span><br>
            <span id="place-id"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="reportcomments">
        <h5><strong>Comments:</strong></h5>
        <div>@Model.Comments</div>
    </div>
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-md-12">
    <div>
    <button id="btn-show-all-children" class="btn btn-link" type="button">> Expand all</button>
    <button id="btn-hide-all-children" class="btn btn-link" type="button">> Collapse all</button>
    </div>
    <table id="dt" class="table table-striped dataTable" cellspacing="0" width="100%">
        <thead>
        </tr>
            <tr>
                <th class="all">Animal Type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Breed</th>
                <th>Coat</th>
                <th class="none">License Number</th>
                <th class="none">License Year</th>
                <th class="none">Rabbies Vac. No.</th>
                <th class="none">Rabbies Vac. Exp.</th>
                <th class="none">Veterinarian</th>
                <th class="none">Comments</th>
                <th class="all"></th>
            </tr>
        </thead>
        <tbody>
        @foreach(var Animal in ViewBag.Animals)
        {
        <tr>
            <td>
            <div id="itemid" hidden>@Animal.itemID</div>
            <div id="type">@Animal.Type</div>
            </td>
            <td>
            <div id="name">@Animal.AnimalName</div>
            </td>
            <td>
            <div id="age">@Animal.Age</div>
            </td> 
            <td>
            <div id="sex">@Animal.Sex</div>
            </td> 
            <td>
            <div id="breed">@Animal.Breed</div>
            </td>   
            <td>
            <div id="coat">@Animal.Coat</div>
            </td>  
            <td>
            <div id="licenseno">@Animal.LicenseNumber</div>
            </td> 
            <td>
            <div id="licenseyr">@Animal.LicenseYear</div>
            </td> 
            <td>
            <div id="rabbiesvacno">@Animal.RabbiesVacNo</div>
            </td> 
            <td>
            <div id="rabbiesvacexp">@Animal.RabbiesVacExp</div>
            </td> 
            <td>
            <div id="vet">@Animal.Veterinarian</div>
            </td>
            <td>
            <div id="comments" class="wordwrap">@Animal.Comments</div>
            </td> 
            <td>    
            <div class="animaledit"><a class="btn btn-link" style="width:100%">Edit</a></div>
            </td> 
        </tr>
        }
        </tbody>
    </table>
    </div>
</div>

<!-- update forms, jquery ui -->
<div id="editAnimal">
@Html.Partial("~/Views/Incidents/Update/_Animal.cshtml")
</div>

<div id="editIncident">
@Html.Partial("~/Views/Incidents/Update/_Incident.cshtml")
</div>

<!-- hidden fields -->
<input value="@ViewBag.Lat" id="lat" hidden></input>
<input value="@ViewBag.Long" id="lng" hidden></input>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/datatables.js"></script>
<script type="text/javascript" src="~/js/jqueryUI.js"></script>
<script type="text/javascript" src="~/js/datepicker.js"></script>
<script type="text/javascript" src="~/js/report.js"></script>
<script src=@ViewData["apistring"] async defer ></script>