@model Address

<form asp-controller="Address" asp-action="Create" method="post">
<div class="form-group">
    <div class="col-md-12">
        @Html.EditorFor(model => model.AddressClass, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.AddressClass) } })
        @Html.ValidationMessageFor(model => model.AddressClass, "", new { @class = "text-danger" })
    </div>
</div>

@Html.HiddenFor(model => model.AddressID)
@Html.HiddenFor(model => model.AccessToken)

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input id="button" style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default"/>
</div>
</form>