@model SingleIncident

<div class="col-md-12">
    <h3 id="address">@Model.Address</h3>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Incident ID</h5>
    <h4>@Model.IncidentID</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Date</h5>
    <h4>@Model.Date</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Owners Name</h5>
    <h4>@Model.OwnersFirstName @Model.OwnersLastName</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Owners Telephone Number</h5>
    <h4>@Model.OwnersTelephoneNumber</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">PGH Code(s)</h5>
    <h4>@Model.PGHCode</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Citation Number</h5>
    <h4>@Model.CitationNumber</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Reason For Visit</h5>
    <h4>@Model.ReasonForVisit</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Comments</h5>
    <h4>@Model.Comments</h4>
</div>
<div class="col-md-12">
    <h5 style="font-weight: bold; font-style: italic;">Call Origin</h5>
    <h4>@Model.CallOrigin</h4>
</div>