@{
    ViewData["Title"] = "Incident";
}
<link rel="stylesheet" href="~/css/datatables.css">

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div>
            <form id="form">
            @Html.Partial("~/Views/Get_Incidents/_incidentReport.cshtml")
            </form>
        </div>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
        <br>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <div id="infowindow-content">
            <span id="place-address"></span><br>
            <span id="place-id"></span>
        </div>
    </div>
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-md-12">
    <table id="dt" class="table table-striped dataTable" cellspacing="0">
        <thead>
        </tr>
            <tr>
                <th class="all">Animal Type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Breed</th>
                <th>Coat</th>
                <th class="none">License Number</th>
                <th class="none">License Year</th>
                <th class="none">Rabbies Vac. No.</th>
                <th class="none">Rabbies Vac. Exp.</th>
                <th class="none">Veterinarian</th>
                <th class="none">Comments</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var Animal in ViewBag.Animals)
        {
        <tr>
            <td>
            <div>@Animal.Type</div>
            </td>
            <td>
            <div>@Animal.AnimalName</div>
            </td>
            <td>
            <div>@Animal.Age</div>
            </td> 
            <td>
            <div>@Animal.Sex</div>
            </td> 
            <td>
            <div>@Animal.Breed</div>
            </td>   
            <td>
            <div>@Animal.Coat</div>
            </td>  
            <td>
            <div>@Animal.LicenseNumber</div>
            </td> 
            <td>
            <div>@Animal.LicenseYear</div>
            </td> 
            <td>
            <div>@Animal.RabbiesVacNo</div>
            </td> 
            <td>
            <div>@Animal.RabbiesVacExp</div>
            </td> 
            <td>
            <div>@Animal.Veterinarian</div>
            </td>
            <td>
            <div>@Animal.Comments</div>
            </td> 
        </tr>
        }
        </tbody>
    </table>
    </div>
</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/datatables.js"></script>
<script type="text/javascript" src="~/js/incidentreport.js"></script>
<script src=@ViewData["apistring"] async defer ></script>