@model GetIncident
<form id="update" style="overflow:visible">
<div class="form-group">
    <div class="col-md-10" style="margin-bottom: 10px;">
        <div style="margin-left: 5px;">Address</div>
        <div class="right-inner-addon">
        <input id="autocomplete" asp-for="Address" class="form-control" type="text" onchange="enableButton()">
            <span class="glyphicon glyphicon-ok form-control-feedback icon-textbox" style="display:none;" id="checkmark" ></span>
        </div>
        <input asp-for="AddressRelay" id="addresscheck" hidden/>
        <input asp-for="Coords" id="coords" hidden/>
    </div>
    <div class="col-md-2" style="margin-bottom: 10px;">
        <div style="margin-left: 5px;">Keep open?</div>
        <select asp-for="Open" data-style="btn-info" class="selectpicker btn-form-control" title="">
            <option>@Model.Open</option>
            <option data-divider="true"></option>
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px;">Owner's last name</div>
            <input asp-for="OwnersLastName" class="form-control"></input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Owner's first name</div>
            <input asp-for="OwnersFirstName" class="form-control"></input>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Owner's telephone number</div>
            <input asp-for="OwnersTelephoneNumber" class="form-control"></input>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Call origin</div>
            <select asp-for="CallOrigin" data-style="btn-info" class="selectpicker btn-form-control" data-dropup-auto="false" title="">
                <option>@Model.CallOrigin</option>
                <option data-divider="true"></option>
                <option>311</option>
                <option>911</option>
                <option>Office</option>
                <option>Police</option>
                <option>Other</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px">Reason(s) for visit</div>
            <select asp-for="ReasonForVisit" data-style="btn-info" multiple class="selectpicker btn-form-control" title="" data-selected-text-format="count > 2" data-size="7" onchange="enableButton()" id="reasonrelay">
                <option>@Model.ReasonForVisit</option>
                <option data-divider="true"></option>
                <option>Abandoned animal</option>
                <option>Animal waste in yard</option>
                <option>Animal waste off property</option>
                <option>Barking</option>
                <option>Bite/Quarantine</option>
                <option>Count animals</option>
                <option>Count cats</option>
                <option>Dog on dog attack</option>
                <option>Feeding stray cats</option>
                <option>Feeding wildlife</option>
                <option>FWS</option>
                <option>Rooster/chickens</option>
                <option>Running at large</option>
                <option>Temperature below 32</option>
                <option>Temperature above 90</option>
                <option>Trap loan</option>
                <option>Wellness/Conditions</option>
                <option>Other</option>
            </select>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">ADV. PGH code(s)</div>
            <select asp-for="PGHCode" data-style="btn-info" multiple class="selectpicker btn-form-control" data-selected-text-format="count > 3" id="coderelay" data-size="7" Title="">
                <option>@Model.PGHCode</option>
                <option data-divider="true"></option>
                <option >633.02a</option>
                <option >633.03</option>
                <option >633.05</option>
                <option >633.07a</option>
                <option >633.08</option>
                <option >633.09a</option>
                <option >633.09b</option>
                <option >633.09c</option>
                <option >633.10a</option>
                <option >633.10b</option>
                <option >633.12</option>
                <option >633.23</option>
                <option >633.24</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Citation number</div>
            <input asp-for="CitationNumber" class="form-control"></input>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Officers involved</div>
            <select data-style="btn-info" multiple class="selectpicker btn-form-control" data-selected-text-format="count > 3" id="officersrelay" data-size="7" Title="">
                <option>@Model.Officers</option>
                <option data-divider="true"></option>
                <option>BG</option>
                <option>CC</option>
                <option>DD</option>
                <option>DE</option>
                <option>DM</option>
                <option>DS</option>
                <option>JG</option>
                <option>JL</option>
                <option>JLE</option>
                <option>KJ</option>
                <option>LM</option>
                <option>PC</option>
                <option>RH</option>
                <option>RS</option>
                <option>SC</option>
                <option>TG</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <div style="margin-left: 5px; padding-top: 5px;">Comments</div>
        <textarea rows="3" asp-for="Comments" class="form-control" id="incidentcomments" onfocus="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)"></textarea>
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12 form-element">
        <div style="margin-left: 5px; padding-top: 5px;">Note</div>
        <input asp-for="Note" class="form-control"></input>
    </div>
</div>

    <!-- begin hidden fields -->
    <input asp-for="itemID" hidden>
    <input asp-for="ReasonForVisitRelay" id="reason" hidden></input>
    <input asp-for="PGHCodeRelay" id="code" hidden></input>
    <input asp-for="OfficersRelay" id="officers" hidden></input>


<div class="col-md-12 text-center">
    <input style="max-width: 250px; margin: 20px;"  onclick="putIncident()" value="Save" id="submitincident" title="Address must be valid, and reason for visit cannot be blank" class="btn btn-default overlaytrigger"/>
</div>
</form>
